@import 'components/settings';
@import 'components/normalize';
@import 'components/font';
@import 'components/color';

body {
	margin: auto;
	max-width: 900px;
}

.title {
	color: $pewter;
	display: flex;
	flex: 1 0 100%;
	flex-direction: column;
	align-items: center;
	margin: 80px;
	text-align: center;

	h1 {
		border-bottom: 1px solid $chalic;
		margin-bottom: 10px;
    padding-bottom: 10px;
	}
}

.challenge-container {
	border-radius: 24px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	color: white;
	margin: 80px;
	padding: 20px;
}

.challenge-top {
	align-items: center;
	display: flex;
	flex: 1 0 100%;
	justify-content: space-between;
}

.challenge-title {
}

.challenge-date {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 5px 8px;
}

.challenge-date-next {
	background-color: white;
	color: #222;
}

.challenge-subtitle {
}

.challenge-days {
	display: flex;
	padding: 16px 6px 4px;
}

.challenge-day {
	align-items: center;
  justify-content: center;
	border-radius: 30px;
	box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.4);
	display: flex;
	font-weight: $bold;
	flex: 1;
	min-height: 30px;
	margin-right: 24px;

	&:last-child {
		margin-right: 0;
	}
}

@media only screen and (max-width: 600px) {
	.title {
		margin: 30px;
	}

	.challenge-container {
		margin: 30px;
	}

	.challenge-top {
		flex-direction: column;
		text-align: center;
	}

	.challenge-subtitle {
		text-align: center;
	}

  .challenge-days {
		flex-direction: column;
	}

	.challenge-day {
		min-height: 40px;
		margin-bottom: 24px;
		margin-right: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.challenge-summary {

}

.challenge-container--future {

}