/* week colors */
$salmon: #F79F79;
$peach: #F7D08A;
$key-lime: #E3F09B;
$pewter: #87B6A7;
$chalic: #AAABBC;

.salmon {
  background-color: $salmon;
}

.peach {
  background-color: $peach;
}

.key-lime {
  background-color: $key-lime;
}

.pewter {
  background-color: $pewter;
}

.chalic {
  background-color: $chalic;
}

