
/* colors */

$sunset-orange: #ff4d4d;
$electric-violet: #834DFF;
$royal-blue: #385BE7;

/* greyscale */
$mine-shaft: #222;
$tundora: #444;
$dove-gray: #666;
$gray: #888;
$silver-chalice: #AAA;
$silver: #CCC;
$alto: #DDD;
$white: #ffffff;

/* site colors */
$primary-color: #19BA7F;

$secondary-color: $electric-violet;

