@import 'color';

$light: 300;
$regular: 500;
$bold: 900;

body {
	font-family: 'Big Shoulders Text', cursive;
	font-weight: $regular;
	letter-spacing: .5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// ::selection {
//   background: rgba( $primary-color, .2 );
// }
// ::-moz-selection {
//   background: rgba( $primary-color, .2 );
// }

h1,
h2,
h3,
h4{
	display: block;
	font-weight: $regular;
	margin: 0 0 8px;
}

h1 {
	font-size: 4.2em;
	font-weight: $regular;
}

h2 {
	font-size: 1.8em;
	font-weight: $bold;
}

h3 {
	font-size: 1.5em;
	cursor: default;
}

h4 {
	font-size: 1.2em;
}

p {
	line-height: 1.4em;
	margin: 0 0 1.5em;
}
