/* Extra Small screens default */

/* Medium screens */
$small: "(min-width: 30em)";

/* Medium screens */
$medium: "(min-width: 40em)";

/* Large screens */
$large: "(min-width: 58em)";

/* Large screens */
$xlarge: "(min-width: 76em)";

$radius: 5px;