/* week colors */
.salmon {
  background-color: #F79F79; }

.peach {
  background-color: #F7D08A; }

.key-lime {
  background-color: #E3F09B; }

.pewter {
  background-color: #87B6A7; }

.chalic {
  background-color: #AAABBC; }
