/* week colors */
.salmon {
  background-color: #F79F79; }

.peach {
  background-color: #F7D08A; }

.key-lime {
  background-color: #E3F09B; }

.pewter {
  background-color: #87B6A7; }

.chalic {
  background-color: #AAABBC; }

body {
  font-family: 'Big Shoulders Text', cursive;
  font-weight: 500;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4 {
  display: block;
  font-weight: 500;
  margin: 0 0 8px; }

h1 {
  font-size: 4.2em;
  font-weight: 500; }

h2 {
  font-size: 1.8em;
  font-weight: 900; }

h3 {
  font-size: 1.5em;
  cursor: default; }

h4 {
  font-size: 1.2em; }

p {
  line-height: 1.4em;
  margin: 0 0 1.5em; }
